<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm">
      <div class="form-group">
        <label class="col-md-4">Brand Name</label>
        <input type="text" class="form-control" formControlName ="brandName" #brandName [(ngModel)] = "products.brandName" />
      </div>
      
      <div *ngIf="angForm.controls['brandName'].invalid && (angForm.controls['brandName'].dirty || angForm.controls['brandName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['brandName'].errors.required">
          Brand Name is required.
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4">Product Name </label>
        <input type="text" class="form-control" formControlName ="productName" #productName  [(ngModel)] = "products.productName" />
      </div>
      <div *ngIf="angForm.controls['productName'].invalid && (angForm.controls['productName'].dirty || angForm.controls['productName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['productName'].errors.required">
          Product Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Product ID </label>
        <input type="text" class="form-control" formControlName ="productId" #productId [(ngModel)] = "products.productId"/>
      </div>
      
      <div *ngIf="angForm.controls['productId'].invalid && (angForm.controls['productId'].dirty || angForm.controls['productId'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['productId'].errors.required">
          Product Id is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="editProduct(brandName.value, productName.value, productId.value,products._id)"
        type="submit"  [disabled]="angForm.invalid" class="btn btn-primary">Add Product </button>
      </div>
    </form>
  </div>
</div>